
@{
}
@model DoxFrame.Hub.Web.ViewModels.FormViewModel


<div class="d-flex text-muted pt-3">
    <div class="pb-3 mb-0 small lh-sm border-bottom w-50">
        <div class="d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a asp-area="" asp-controller="Project" asp-action="Index" asp-route-ProjectId=@Model.ProjectId>Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Form settings</li>
                </ol>
            </nav>
        </div>

    </div>
    <div class="pb-3 mb-0 small lh-sm border-bottom w-50">
        <div class="d-flex justify-content-end">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Project" asp-action="FormIndex" asp-route-projectId=@Model.ProjectId><span class="btn btn-close"></span> </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h3>Form Request Settings for @Model.Title</h3><span>Form Id: @Model.Id</span>
 
    <form id="frm-update" class="row g-3 needs-validation" novalidate method="post">
        <div class="d-grid text-left py-3" style="grid-template-columns: 2fr 2fr;">
            <div class="border-end">
                <div class="px-0 py-0 lh-sm w-100">
                    <h5>Form settings</h5>
                    <input type="hidden" id="hdnProjId" value=@Model.ProjectId />
                    <input type="hidden" id="hdnFormId" value=@Model.Id />

                    <div class="col-md-11">
                        <label for="inputTitle" class="form-label">New Title</label>
                        @Html.TextBoxFor(model => model.Title, new { id = "inputTitle", @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-md-11">
                        <label for="inputKey" class="form-label">Key</label>
                        @Html.TextBoxFor(model => model.Key, new { id = "inputKey", @class = "form-control", @required = "required" })
                    </div>

                    <div class="col-md-11">
                        <label for="inputDesc" class="form-label">Description</label>
                        @Html.TextBoxFor(model => model.Description, new { id = "inputDesc", @class = "form-control", @required = "required" })
                    </div>

                    <div class="col-md-11">
                        <label for="selectFrmOpType" class="form-label">Form for</label>
                        <select id="selectFrmOpType" class="form-select">
                            <option disabled value=""></option>
                            <option selected value="Create">Create</option>
                            <option value="View">View</option>
                            <option value="Update">Update</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a form for Create/View/Update.
                        </div>
                    </div>

        
                </div>

            </div>
            <div>
                <div class="mb-0 small lh-sm w-100">


                    <h5>Backend Data Stoage settings </h5>


                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault11" value="api" checked>
                        <label class="form-check-label" for="flexRadioDefault11">
                            Api ?
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault22" value="function">
                        <label class="form-check-label" for="flexRadioDefault22">
                            Function?
                        </label>
                    </div>
                    <div class="col-11">
                        <label for="selectFrmMethod" class="form-label">Method</label>
                        <select id="selectFrmMethod" class="form-select">
                            <option disabled value=""></option>
                            <option selected value="GET">GET</option>
                            <option value="POST">POST</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a form request Method.
                        </div>
                    </div>

                    <div class="col-11">
                        <label for="selectFrmEndpoint" class="form-label">API Endpoint</label>
                        @Html.TextBoxFor(model => model.RequestUri, new { id = "selectFrmEndpoint", @class = "form-control", @required = "required" })

                        <div class="invalid-feedback">
                            Please select a form API Endpoint.
                        </div>
                    </div>


                    <h5 class="py-2">Business Process Data settings</h5>

                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="start">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Start Process ?
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="complete" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Complete Task?
                        </label>
                    </div>
                    <div class="col-md-12 py-2">
                        <label for="inputTitle" class="form-label">Process Id</label>
                        @Html.TextBoxFor(model => model.Title, new { id = "inputTitle", @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-md-12" id="divtaskid">
                        <label for="inputKey" class="form-label">Task Id</label>
                        @Html.TextBoxFor(model => model.Key, new { id = "inputKey", @class = "form-control", @required = "required" })
                    </div>

                </div>
                <div class="col-12 text-end py-2">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </div>
        </div>
    </form>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/forms/js/FormsManager.js" type="module"></script>
    <script>
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {
                var inputValue = $(this).attr("value");

                if (inputValue === 'api') {
                    $("#divtaskid").hide();
                } else if (inputValue === 'function') {
                    $("#divtaskid").show();
                }
                else if (inputValue === 'start') {
                    $("#divtaskid").hide();
                } else if (inputValue === 'complete') {
                    $("#divtaskid").show();
                }

            });
        });
    </script>

